{
  "plugins": ["@typescript-eslint", "@stylistic"],
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "@stylistic/no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }]
  }
}
